<nav class="navbar navbar-expand-md navbar-light pt-0">
    <a class="navbar-brand pt-0" href="{{ site.url }}">
        {% if blog_logo %}
            <img src="{{ blog_logo }}" alt="{{ blog_name }}" />
        {% else %}
            {{ blog_title }}
        {% endif %}
    </a>
    <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#{{ name }}"
        aria-controls="{{ name }}"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
         <i class="fas fa-bars fa-2x"></i>
    </button>

    <div class="collapse navbar-collapse" id="{{ name }}">
        {% include 'partials/primary-menu-list.twig' with {
            items: menu.items
        } %}
    </div>
</nav>