{% extends 'layout.twig' %}

{% block content %}
    <nav>
        <ul class="secondary-menu">
            {% for item in secondary_menu.items %}
                <li class="nav-main-item {{ item.classes|join(' ') }}">
                    <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% for product in products %}
        <a href="{{ product.link }}"><img src="{{ product.thumbnail.src('large') }}" alt="{{ product.title }}" /></a>
    {% endfor %}
{% endblock %}