<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ fn('wp_head') }}
        <title>{{ blog_title }} {{ blog_name }}</title>
    </head>
    <body class="{{ body_class }}">
        <div class="container">
            {% include 'partials/navbar.twig' %}
            <div class="mt-3 px-0">
                {% block content %}{% endblock %}
            </div>
            {% include 'partials/footer.twig' %}
        </div>
        {{ fn('wp_footer') }}
    </body>
</html>