{% block header %}
<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ fn('wp_head') }}
        <title>{{ fn('wp_title', '&raquo;', true, 'right') }} {{ blog_name }}</title>
    </head>
    <body style="background-color: {{ background_color }}">
        <div class="main-container">
{% endblock %}

{% block container %}
<div class="container">
    {% include 'partials/primary-menu.twig' with {
        name: 'primary-menu',
        menu: primary_menu,
        collapse: true,
        brand: true
    } %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block menu %}
                    {% include 'partials/secondary-menu.twig' with {
                        name: 'secondary-menu',
                        menu: secondary_menu
                    } %}
                {% endblock %}
            </div>
                <div class="col-md-9">
                    {% block content %}

                    {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
        </div>
        {{ fn('wp_footer') }}
    </body>
</html>
{% endblock %}