{% block header %}
<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ fn('wp_head') }}
        <title>{{ blog_title }} {{ blog_name }}</title>
    </head>
    <body class="{{ body_class }}">
        <div class="main-container">
{% endblock %}

{% block container %}
    <div class="container">
        {% include 'partials/navbar.twig' %}
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}
                {% include 'partials/footer.twig' %}
            </div>
        </div>
        {{ fn('wp_footer') }}
    </body>
</html>
{% endblock %}