{% extends 'layout.twig' %}

{% block content %}
    <div class="product">
        <h1 class="font-weight-light text-center text-md-left">{{ post.title }}</h1>
        <div class="image">
            <a href="{{ post.thumbnail }}" class="simplelightbox"><img src="{{ thumbnail }}" alt="{{ post.title }}" /></a>
        </div>
        <br />
        <div class="content">
            {{ post.content }}
        </div>
    </div>
{% endblock %}